@import './main.scss';

#main{
    width: 100%;
    min-height: 100vh;
    padding: 90px 200px 80px 200px;
}
.nbr{
    font-size: 65px;
    -webkit-text-stroke: 2px $orangeColor;
    color: white;
    font-family: var(--font-poppins);
}
.box{
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    margin-top: 15px;
    box-shadow: 8px 8px 12px rgba(128, 127, 127, 0.3);
    padding: 15px;
    border-radius: 25px;
}
.miniature{
    height: auto;
}
.images{
    width: 150px;
    height: auto;
    border-radius: 25px;
}
.text{
    font-size: 12px;
    text-align: justify;
    font-family: var(--font-poppinsTini);
}
.activityTitle{
    font-family: var(--font-poppins);
    font-size: 14px;
    margin-bottom: 15px;
}

//media query

@media screen and (max-width:800px){
    #main{
        padding: 90px 30px 80px 30px;
    }
    .box{
        flex-direction: column;
        gap:8px
    }
    .miniature{
        width: 100%;
        height: auto;
    }
    .images{
        width: 100%;
        height: auto;
        border-radius: 25px;
    }
    .nbr{
        font-size: 40px;
        -webkit-text-stroke: 1px $orangeColor;
    }
    .text{
        font-size: 13px;
    }
    .activityTitle{
        font-size: 15px;
    }
}