@import './main.scss';

#main{
    width: 100%;
    min-height: 100vh;
    padding: 90px 200px 80px 200px;
}
.nbr{
    font-family: var(--font-poppins);
    font-size: 55px;
    -webkit-text-stroke: 2px $orangeColor;
    color: white;
}
.box{
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
    margin-top: 15px;
}
.miniature{
    width: 500px;
    height: auto;
}
.images{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.text{
    font-family: var(--font-poppinsTini);
    font-size: 12px;
    text-align: justify;
}