@import './main.scss';

.mainContainer{
    color:rgb(255, 255, 255);
    width:100%;
    height: 100vh;
    background-image: url('../asset/images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.firsttext{
    font-family: var(--font-poppins);
    font-size: 40px;
    text-align: center;
}
.theme{
    font-family: var(--font-poppins);
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.secondtext{
    font-family: var(--font-poppinsTini);
    font-size: 17px;
    text-align: center;
}
.cemacFlag{
    width: 22%;
    height: auto;
    margin-top: 10px;
}

@media screen and (max-width:800px){
    .firsttext{
    font-family: var(--font-poppins);
    font-size: 25px;
    text-align: center;
    }
    .cemacFlag{
        width: 50%;
    }
    .theme{
        font-size: 15px;
    }
    .secondtext{
        font-size: 12px;
    }
}