@import './main.scss';

#sponsoring{
    width: 100%;
    padding: 90px 200px 80px 200px;
    background-color: #f0f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sponsoringMain{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:45px;
}
.sponsoringBoxmain{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    min-height: 330px;
}
.header{
    background-color: $orangeColor;
    position: relative;
}
.cercle{
    width: 30px;
    height: 30px;
    background-color: #f0f4f6;
    border-radius: 100%;
    position: absolute;
    bottom: 50%;
    left: -15px;
}
.cercle2{
    width: 30px;
    height: 30px;
    background-color: #f0f4f6;
    border-radius: 100%;
    position: absolute;
    bottom: 50%;
    right: -15px;

}
.prix{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 40px 0px 0px 0px;
    color:white;
    font-family: var(--font-poppins);
}

.titre{
    width: 100%;
    text-align: center;
    font-size: 10px;
    padding: 10px 0px 40px 0px;
    color:white;
    font-family: var(--font-poppinsTini);
}

.liste{
    font-family: var(--font-poppinsTini);
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.buton{
    width: 100%;
    padding: 10px;
    color: white;
    font-family: var(--font-poppinsTini);
    background-color: $blueColor;
    text-align: center;
    border-radius: 12px;
    font-size: 12px;
}

.butonContainer{
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    margin-top: 30px;
}


//media query

@media screen and (max-width:800px){
    #sponsoring{
        width: 100%;
        padding: 90px 30px 80px 30px;
        background-color: #f0f4f6;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsoringMain{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
        grid-gap:45px;
    }
    .prix{
        font-size: 21px;
    }
    .titre{
        font-size: 18px;
    }
    .liste{
        font-size: 13px;
    }
    .buton{
        padding: 15px;
        font-size: 18px;
    }
}